:root {
    --main-color: #FF8C00;
}

body {
    background: #f8f8f8;
}

.forget-pwd>a {
    color: var(--main-color);
    font-weight: 500;
}

.forget-password .panel-default {
    padding: 30%;
    margin-top: -18%;
}

.forget-password .panel-body {
    padding: 15%;
    margin-bottom: -70%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 40%;
    margin-bottom: 10%;
}



.btnForget {
    background: var(--main-color);
    border: none;
}

.forget-password .dropdown {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.forget-password .dropdown button {
    width: 100%;
}

.forget-password .dropdown ul {
    width: 100%;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}