<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locket Gold</title>
    <link rel="icon" type="image/x-icon" href="../static/IMG/locket.jpg">
    <link rel="stylesheet" href="../static/CSS/style-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        
        <div class="avatar"> <img src="../static/IMG/locket.jpg" alt=""></div>
        <div class="search-bar">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
            <input type="text" placeholder="Tìm kiếm trên Locket Gold">
        </div>
    <nav>
      <ul>
        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-commenting" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
    </header>

    <body>
        <div class="dropdown" id="dropdown">
            <button class="dropdown-toggle" id="dropdown-toggle">Mọi người</button>
            <div class="dropdown-menu" id="dropdown-menu">
              <ul>
                <li><a href="#">ALL</a></li>
                <li><a href="#">Người 1</a></li>
                <li><a href="#">Người 2</a></li>
                <li><a href="#">Người 3</a></li>
                <li><a href="#">Người 4</a></li>
                <li><a href="#">Người 5</a></li>
                <li><a href="#">Người 6</a></li>
                <li><a href="#">Người 7</a></li>
                <li><a href="#">Người 8</a></li>
                <li><a href="#">Người 9</a></li>
                
              </ul>
            </div>
          </div>
    </body>

   <script src="../static/JS/style-home.js"></script>
</body>

</html>